/**********************************************************/
/* GENERAL STYLING
/**********************************************************/
:root {
    --clr-primary-200: #CDD1C4;
    --clr-primary-300: #E8C547;
    --clr-primary-600: #4D5061;
    --clr-secondary-500: #5C80BC;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--clr-primary-300);
}

body {
    background-color: var(--clr-primary-600);
}

form input {
    padding: 0.5em 0.5em;
    border-radius: 5px;
    border: none;
}

.button {
    color: var(--clr-primary-300);
    background-color: var(--clr-primary-600);
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
}

.button:hover {
    color: var(--clr-primary-600);
    background-color: var(--clr-primary-300);
}

.container {
    width: 90%;
    margin-inline: auto;
}

.container--narrow {
    max-width: 20rem;
}

.bg-dark {
    background-color: var(--clr-primary-600);
}

.bg-green {
    background-color: var(--clr-primary-200)
}

.bg-blue {
    background-color: var(--clr-secondary-500)
}

.split {
    display: flex;
    flex-direction: column;
}

.split--gap {
    gap: 1em;
}

.split--wrap {
    flex-wrap: wrap;
}

.ptop1 {
    padding-top: 1em;
}

.pbot1 {
    padding-bottom: 1em;
}

.psides1 {
    padding-left: 1em;
    padding-right: 1em;
}


@media (min-width: 40em) {
    .split {
        flex-direction: row;
    }
}

.error {
    color: red;
}

.pointer {
    cursor: pointer;
}

.fill {
    min-height: 100vh;
    width: 100vw;
}

#disp1 {
    width: 100%;
    display: block;
}

#disp2 {
    width: 100%;
    display: none;
}

#disp3 {
    width: 100%;
    display: none;
}

#disp4 {
    width: 100%;
    display: none;
}

/**********************************************************/
/* NAV STYLES */
/**********************************************************/
.navbar {
    padding: 1em 0;
}

.nav-inner{
    display: flex;
    align-items: center;
}

.nav-inner h2 {
    flex-basis: 100%;
}

.nav-inner a {
    flex-basis: 100%;
    color: var(--clr-primary-300);
    text-align: right;
}

/**********************************************************/
/* FOOTER STYLES */
/**********************************************************/
footer {
    height: 10em;
}

/**********************************************************/
/* INDEX PAGE STYLES */
/**********************************************************/
.herobox {
    position: relative;
    width: 100%;
    height: 20em;
}

.herobox h2 {
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}

.herobox img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.regbox {
    background-color: var(--clr-secondary-500);
    height: 100%;
    width: 100%;
    align-self: center;
    display: flex;
    align-items: center;
}

.regbox form {
    border-radius: 5px;
    width: 100%;
    padding: 2em 2em;
    margin-inline: auto;
}

.regbox form > * + * {
    margin-top: 1em;
}

.regbox form input {
    width: 100%;
}

@media (min-width: 40em) {
    .hero {
        height: 100vh;
        width: 100vw;
        margin-inline: auto;
    }
    .herobox {
        height: 100%;
    }
    .regbox form {
        width: 80%;

    }
}

/**********************************************************/
/* LOGIN PAGE STYLES */
/**********************************************************/
.login-container {
    width: 100%;
}

.login-content {
    width: 100%;
}

.login-content form {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.login-content form > * + * {
    margin-top: 1em;
}

@media (min-width: 40em) {
    .login-container {
        height: 100vh;
        width: 100vw;
        position: relative;
    }

    .login-content {
        width: min(30%, 30rem);
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

    .login-content form {
        border-radius: 5px;
    }

}

/**********************************************************/
/* DASHBOARD PAGE STYLES */
/**********************************************************/
.chore-box {
    margin-inline: auto;
    border-radius: 5px;
    padding: 1em;
    width: 90%;
}


.group-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1.8em;
}

.group-box a {
    color: black;
}

.group-icon {
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.dash-layout {
    display: flex;
    flex-direction: column;
}

.sidebar {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

#s1 {
    background-color: var(--clr-primary-200);
    padding: 0 1em;
}

#s2 {
    background-color: var(--clr-primary-600);
    padding: 0 1em;
}

@media (min-width: 40em) {
    .chore-box {
        width: 12em;
        margin-inline: 0;
    }

    .dash-layout {
        flex-direction: row;
    }

    .sidebar {
        flex-direction: column;
    }
}

/**********************************************************/
/* UPDATE GROUP PAGE STYLES */
/**********************************************************/
#s-gen {
    background-color: var(--clr-primary-200);
}