/**********************************************************/
/* GENERAL STYLING
/**********************************************************/
:root {
    --clr-text-prim: #444444;
    --clr-bg-dark: #404040; 
    --clr-err-text: #FF0000;
    --clr-err-bg: rgba(255, 0, 0, 0.09);
    --clr-overlay-dark: rgba(0, 0, 0, 0.69);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, p {
    margin: 0;
}

html, body {
    font-family: Roboto;
}

a {
    text-decoration: none;
    color: var(--clr-text-prim);
}

/**********************************************************/
/* UTILITY
/**********************************************************/

/**********************************************************/
/* NAV BAR
/**********************************************************/
.navbar {
    height: 2.4375rem;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: var(--clr-text-prim);
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.nav-button {
    border-style: solid;
    border-color: var(--clr-text-prim);
    width: 42px;
    height: 23px;
    text-align: center;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button:visited {
    color: var(--clr-text-prim);
}

.nav-button:hover {
    background-color: var(--clr-bg-dark);
    color: white;
}

/**********************************************************/
/* INDEX PAGE
/**********************************************************/
.index-layout {
    width: 100%;
    height: calc(100vh - 3.8em);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25vh 1fr 2fr 1.5fr;
    row-gap: 1em;
}

.index-hero {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.index-hero img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--clr-overlay-dark);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay h2 {
    color: white;
    font-size: 36px;
}

.index-organized {
    font-size: 0.6875rem;
    width: 90%;
    margin: 0 auto;
}

.index-organized h3 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

.index-fair {
    width: 90%;
    margin: 0 auto;
    font-size: 0.6875rem;
}

.index-fair h3 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

.fair-img {
    height: 12.9375rem;
}

.index-sign {
    color: white;
    background-color: var(--clr-bg-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.index-sign a {
    width: 5.125rem;
    height: 1.5625rem;
    font-size: 0.75rem;
    border-style: none;
    background-color: white;
    text-decoration: none;
    color: var(--clr-text-prim);
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-sign a:visited {
    color: var(--clr-text-prim);
}

.index-sign a:hover {
    background-color: var(--clr-bg-dark);
    border-style: solid;
    border-color: white;
    border-width: 1px;
    color: white;
}

@media (min-width: 40em) {
    .index-layout {
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1.5fr 1fr;
        row-gap: 0;
    }

    .hero-overlay {
        justify-content: flex-start;
    }

    .hero-overlay h2 {
        margin-left: 10%;
    }

    .index-organized {
        align-self: center;
        width: 80%;
    }

    .index-fair {
        align-self: center;
        width: 80%;
    }

    .index-sign {
        justify-content: space-evenly;
    }
}

/**********************************************************/
/* LOGIN PAGE
/**********************************************************/
.login-form {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2.125rem;
}

.login-form h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    font-size: 1.125rem;
    font-weight: 400;
}

.login-form input {
    height: 2.125rem;
}

.login-form input[type=text], .login-form input[type=password] {
    border-style: solid;
    border-width: 1px;
    border-color: var(--clr-text-prim);
    margin-bottom: 1rem;
}

.login-form input[type=submit] {
    background-color: var(--clr-bg-dark);
    color: white;
    font-size: 1.125rem;
    border-style: none;
    margin-top: 1.125rem;
}

.login-form input[type=submit]:hover {
    background-color: white;
    color: var(--clr-text-prim);
    border-style: solid;
    border-width: 1px;
    border-color: var(--clr-text-prim);
}

.login-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: var(--clr-overlay-dark);
}

.login-overlay img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.mobile-hide {
    display: none;
}

.login-container {
    width: 100%;
    height: calc(100vh - 2.4375rem);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

@media (min-width: 40em) {
    .mobile-hide {
        display: block;
    }

    .login-container {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .login-container > * {
        margin-right: 3rem;
    }

    .login-overlay {
        width: 40%;
    }

    .login-overlay img {
        width: 80%;
        height: 40%;
    }

    .login-form {
        width: min(40%,25rem);
        margin: 0 auto;
        align-self: center;
    }

    .login-form h2 {
        font-size: 9rem;
        text-align: left;
    }
}
/**********************************************************/
/* MOBILE NAV
/**********************************************************/
.mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 6.875vh;
    width: 100vw;
    background-color: var(--clr-bg-dark);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mobile-nav-btn {
    background-color: white;
    height: 4.53125vh;
    width: 4.53125vh;
}

@media (min-width: 40em) {
    .mobile-nav {
        display: none;
    }
}

/**********************************************************/
/* DESKTOP NAV
/**********************************************************/
.desktop-nav {
    display: none;
}

.desktop-nav p {
    padding: 1.78125rem 1.28125rem;
    border-radius: 10px;
    cursor: pointer;
}

.desktop-nav p:hover {
    background-color: var(--clr-bg-dark);
    color: white;
}

@media (min-width: 40em) {
    .desktop-nav {
        display: flex;
        justify-content: space-between;
    }
}

/**********************************************************/
/* DASHBOARD
/**********************************************************/
.dash-cont {
    width: 87.5%;
    margin: 0 auto;
    color: var(--clr-text-prim);
}

.dash-cont h2 {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: left;
}

.dash-cont a:visited {
    color: var(--clr-text-prim);
}

.chore-list {
    margin-bottom: 2rem;
}

.chore-list > * {
    margin-bottom: 0.625rem;
}

.chore-list h3 {
    font-weight: 300;
    font-size: 1.125rem;
}

.chore-cont {
    width: 100%;
    height: 6.40625vh;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: var(--clr-text-prim);
    display: flex;
    align-items: center;
}

.chore-cont p {
    font-weight: 400;
    font-size: 1.125rem;
}

.circle-btn {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: var(--clr-text-prim);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-right: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

.circle-btn:hover {
    background-color: var(--clr-bg-dark);
}

.group-list > * {
    margin-bottom: 0.625rem;
}

.group-cont {
    height: 8.4375vh;
    width: 100%;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: var(--clr-text-prim);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    font-weight: 400;
}

.group-cont:hover {
    background-color: var(--clr-bg-dark);
}

.group-cont:visited:hover {
    color: white;
}

@media (min-width: 40em) {
    .dash-cont {
        width: 45.7292%;
    }

    .dash-cont h2 {
        text-align: center;
    }
}