{{ define "body" }}
<div class="desktop-nav dash-cont">
    <p id="chore-btn">Chores</p>
    <p id="group-btn">Groups</p>
    <p>Account</p>
</div>
<section id="first" class="hidable dash-cont">
    <h2>My Chores</h2>
    {{/* Inefficient algorithm utilized for simplicity sake. However, no one person should be
        assigned more than a handful of chores, so the performance impact is negligible. This is
        not designed for large amounts of groups and chores as the run time is
        O(groups * chores). If a more efficient approach is required in the future,
        then this will need to be resolved on the backend using Go instead of the template
        language.*/}}
    {{ $chores := .User.Chores}}
    {{ range .User.Memberships }}
    {{ $name := .Group.Name }}
    <div class="chore-list">
        <h3>{{$name}}</h3>
        {{ range $chores }}
        {{ if eq $name .Group.Name }}
        <div class="chore-cont">
            <div class="circle-btn"></div>
            <p>{{.Name}}</p>
        </div>
        {{ end }}
        {{ end }}
    </div>
    {{ end }}
</section>
<section id="second" class="hidable dash-cont">
    <h2>My Groups</h2>
    <div class="group-list">
        {{ range .User.Memberships }}
        <a class="group-cont" href="/groups/update/{{.Group.ID}}">
            {{ .Group.Name }}
        </a>
        {{ else }}
        <p>Oh no! Looks like you aren't a member of any groups.</p>
        {{ end }}
        <a href="/groups/create" class="group-cont">
            New
        </a>
    </div>
</section>
<div class="mobile-nav">
    <div id="mob-chore-btn" class="mobile-nav-btn"></div>
    <div id="mob-group-btn" class="mobile-nav-btn"></div>
    <div class="mobile-nav-btn"></div>
</div>
{{end}}