{{define "body"}}
{{if .Error }}<p>{{.Error}}</p>{{end}}
<div>
    <form action="" method="post">
        {{with .Role}}
        <input type="text" name="rolename" id="rolename" value="{{.Name}}">
        <input type="checkbox" name="editmembers" id="editmembers" value="true" {{if .Can 0}}checked{{end}}>
        <label for="editmembers">Edit Members</label>
        <input type="checkbox" name="editchores" id="editchores" value="true" {{if .Can 1}}checked{{end}}>
        <label for="editchores">Edit Chores</label>
        <input type="checkbox" name="editgroup" id="editgroup" value="true" {{if .Can 2}}checked{{end}}>
        <label for="editgroup">Edit Group</label>
        <input type="checkbox" name="editroles" id="editroles" value="true" {{if .Can 3}}checked{{end}}>
        <label for="editroles">Edit Roles</label>
        <input type="checkbox" name="getschores" id="getschores" value="true" {{ if .GetsChores }}checked{{end}}>
        <label for="getschores">Gets Chores</label>
        <input type="submit" name="submit_1" value="Update">
        {{end}}
    </form>
</div>
<h3>Members</h3>
{{$g := .Group.ID}}
{{$r := .Role.ID}}
{{range .Role.Members}}
<div>
    <p>{{.User.Username}}</p>
    <form action="" method="post">
        <input type="text" name="user_id" value="{{.User.ID}}" hidden>
        <input type="submit" name="submit_2" value="Remove">
    </form>
</div>
{{end}}
<div>
    <form action="" method="post">
        <input type="text" name="username" id="username" placeholder="Username...">
        <input type="submit" name="submit_3" value="Add">
    </form>
</div>
<div>
    <form action="" method="post">
        <input type="submit" name="submit_4" value="Delete Role">
    </form>
</div>
<a href="/groups/update/{{$g}}">Back</a>
{{end}}