{{ define "body" }}
<div>
    <form action="editgroup/{{.Group.ID}}" method="post">
        <input type="text" name="groupname" id="groupname" value="{{.Group.Name}}">
        <input type="submit" value="Update Name">
    </form>
</div>
<h3>Members</h3>
{{ range .Group.Memberships }}
<div>
    <p>{{ .User.Username }}</p>
    <a href="/editgroup/{{ .Group.ID }}/remove/user/{{ .User.ID }}">Remove</a>
</div>
{{ end }}
<div>
    <form action="/editgroup/{{ .Group.ID }}/add/user" method="post">
        <input type="text" name="username" id="username" placeholder="Username...">
        <input type="submit" value="Add">
    </form>
</div>
<h3>Roles</h3>
<a href="/editgroup/{{ .Group.ID }}/add/role">Create Role</a>
{{ range .Group.Roles }}
<div>
    <p>{{ .Name }}</p>
    <a href="/editrole/{{ .ID }}">Edit</a>
</div>
{{ end }}
{{ end }}
