{{ define "body" }}
<div class="bg-green dash-layout fill">
    <div id="sidebar" class="sidebar bg-dark">
        <h2 id="s1" class="pointer s-head psides1" onclick="sideClick('s1','disp1')">General</h2>
        <h2 id="s2" class="pointer s-head psides1" onclick="sideClick('s2','disp2')">Members</h2>
        <h2 id="s3" class="pointer s-head psides1" onclick="sideClick('s3','disp3')">Roles</h2>
        <h2 id="s4" class="pointer s-head psides1" onclick="sideClick('s4','disp4')">Chores</h2>
    </div>
    <section id="disp1" class="v-content">
        {{ with .NameError }}<p class="error">{{ . }}</p>{{end}}
        <div class="psides1 ptop1">
            <form action="" class="gen-form" method="post">
                <div class="gen-input">
                    <label for="groupname">Name:</label>
                    <input type="text" name="groupname" id="groupname" value="{{.Group.Name}}">
                </div>
                <input type="submit" name="submit_1" class="button pointer" value="Save">
            </form>
        </div>
    </section>

    <section id="disp2" class="v-content">
        <div class="gen-form psides1 ptop1">
            {{ with .MemError }}<p class="error">{{ . }}</p>{{ end }}
            <div>
                <form action="" method="post" class="gen-input">
                    <input type="text" name="username" id="username" placeholder="Username...">
                    <input type="submit" class="button pointer" name="submit_3" value="Add">
                </form>
            </div>
            {{ range .Group.Memberships }}
            <div class="row row--gap">
                <div class="bg-blue psides1 center-vert round member row row--gap">
                    <div class="circle circle--small bg-dark"></div>
                    <p>{{ .User.Username }}</p>
                </div>
                <form action="" method="post" class="split center">
                    <input type="text" name="user_id" value="{{.User.ID}}" hidden>
                    <button type="submit" name="submit_2" class="font-medium pointer no-border cross-outer bg-dark">
                        <div class="cross-hor bg-yellow"></div>
                    </button>
                </form>
            </div>
            {{ end }}
        </div>
    </section>

    <section id="disp3" class="v-content">
        <div class="ptop1 pbot1 psides1 gen-form">
            <a href="/roles/create/{{.Group.ID}}" class="row row--gap">
                <p class="fc-black">New</p>
                <div class="bg-dark cross-outer">
                    <div class="cross-vert bg-yellow"></div>
                    <div class="cross-hor bg-yellow"></div>
                </div>
            </a>
            {{ $g := .Group.ID }}
            {{ range .Group.Roles }}
            <a href="/roles/update/{{.ID}}" class="bg-blue center round member member--clickable">
                <p>{{ .Name }}</p>
            </a>
            {{ end }}
        </div>
    </section>

    <section id="disp4" class="v-content">
        <div class="gen-form ptop1 pbot1 psides1">
            {{ with .ChoreError }}<p class="error">{{ . }}</p>{{end}}
            <a href="/chores/create/{{.Group.ID}}" class="row row--gap">
                <p class="fc-black">New</p>
                <div class="bg-dark cross-outer">
                    <div class="cross-vert bg-yellow"></div>
                    <div class="cross-hor bg-yellow"></div>
                </div>
            </a>
            <form action="" method="post">
                <button class="pointer button button--pad" type="submit" name="submit_4" value="randomize">Randomize</button>
            </form>
            <form action="" method="post">
                <button class="pointer button button--pad" type="submit" name="submit_5" value="rotate">Rotate</button>
            </form>
            {{ range .Group.Chores }}
            <a href="/chores/update/{{.ID}}">
                <div class="member member--clickable round bg-blue center-vert">
                    <p>{{ .Name }}</p>
                    {{with .Assignment}}<p class="fc-black">Assignee: {{.User.Username}}</p>{{end}}
                </div>
            </a>
            {{ end }}
        </div>
    </section>
</div>
{{ end }}
