{{ define "body" }}
<div class="dash-layout fill bg-green center-hori">
    <div class="gen-form ptop1 pbot1 psides1 bg-blue round">
        {{with .Error}}<p class="error bg-dark">{{.}}</p>{{end}}
        <form action="" method="post" class="gen-form">
            <div class="row row--gap gen-input">
                <label for="chore_name">Name:</label>
                <input type="text" id="chore_name" name="chore_name" value="{{.Chore.Name}}">
            </div>
            <div class="row row--gap">
                <!-- <label for="chore_desc">Description:</label> -->
                {{$desc := .Chore.Description}}
                <textarea id="chore_desc" name="chore_desc" rows="4" cols="50" class="w100">{{if $desc}}{{$desc}}{{else}}Description{{end}}</textarea>
            </div>
            {{$d := .Chore.Duration}}
            <div class="">
                <label for="chore_dur">Duration(minutes):</label>
                <select id="chore_dur" name="chore_dur">
                    {{range .Durations}}
                    <option value="{{.}}"{{if eq . $d}}selected{{end}}>{{.}}</option>
                    {{end}}
                </select>
            </div>
            <input type="submit" name="submit_1" value="Update" class="button pointer">
        </form>
        <form action="" method="post">
            <input type="submit" name="submit_2" value="Delete Chore" class="button pointer w100">
        </form>
        <a href="/groups/update/{{.Chore.Group.ID}}" class="button back-btn text-center">Back</a>
    </div>
</div>
{{ end }}