{{ define "body" }}
{{with .Error}}<p>{{.}}</p>{{end}}
<form action="" method="post">
    <input type="text" name="chore_name" value="{{.Chore.Name}}">
    <input type="text" name="chore_desc" value="{{.Chore.Description}}">
    {{$d := .Chore.Duration}}
    <select name="chore_dur">
        {{range .Durations}}
        <option value="{{.}}"{{if eq . $d}}selected{{end}}>{{.}}</option>
        {{end}}
    </select>
    <input type="submit" name="submit_1" value="Submit">
</form>
<form action="" method="post">
    <input type="submit" name="submit_2" value="Delete">
</form>
<a href="/groups/update/{{.Chore.Group.ID}}">Back</a>
{{ end }}