create_group_request
create_group_reply 
login_request 
login_reply 
register_request 
register_reply 
group_update_request 
group_update_reply 
lookup_user_request 
lookup_user_reply 
get_user_chores_request 
get_user_chores_reply 
get_user_groups_request 
get_user_groups_reply 


***********************************************************
create_group_request
***********************************************************
POST 
Application/json 
Body example: 
{ 
"groupname":“value”, 
"admins" : [ "value", … ], 
"users" : [ "value" , … ] 
} 
Authorization: User 
URL: domain/api/creategroup 
 
***********************************************************
create_group_reply 
***********************************************************
Status 
 
***********************************************************
login_request 
***********************************************************
POST 
Application/json 
Body example: 
{ 
"username" : "value", 
"password" : "value" 
} 
Authorization: None 
URL: domain/api/login 
 
***********************************************************
login_reply 
***********************************************************
Status 
 
***********************************************************
register_request 
***********************************************************
POST 
Application/json 
Body example: 
{ 
"firstname" : "value", 
"lastname" : "value", 
"email" : "value", 
"username" : "value", 
"password" : "value" 
} 
Authorization: None 
URL: domain/api/register 
 
***********************************************************
register_reply 
***********************************************************
Status 
 
***********************************************************
group_update_request 
***********************************************************
POST 
Application/json 
Body example: 
{ 
"oldgroupname" : "value", 
"newgroupname" : “value”, 
"admins" : [ "value", … ], 
"users" : [ “value”, … ] 
} 
Authorization: Group admin 
URL: domain/api/updategroup 
 
***********************************************************
group_update_reply 
***********************************************************
Status 
 
***********************************************************
lookup_user_request 
***********************************************************
POST 
Application/json 
Body example 
{ 
"username" : "value" 
} 
Authorization: Group admin 
URL: domain/api/lookupuser 
 
***********************************************************
lookup_user_reply 
***********************************************************
Status 
 
***********************************************************
get_user_chores_request 
***********************************************************
POST 
Authorization: User 
URL: domain/api/userchores 
 
***********************************************************
get_user_chores_reply 
***********************************************************
Status 
Application/json 
Body example: 
{ 
"chores" : [ 
{chorename: "value", timemin: "value", groupname: "value"}, 
{…} 
] 
} 
 
***********************************************************
get_user_groups_request 
***********************************************************
POST 
Authorization: User 
URL: domain/api/usergroups 
 
***********************************************************
get_user_groups_reply 
***********************************************************
Status 
Application/json 
Body example: 
{ 
"groups" : [ 
{"groupname" : "value" }, 
{...} 
] 
} 
